@import "../../styles/variables";

.home-help {
  display: grid;
  gap: .75rem;
}

@media (min-width: 46rem) {
  .home-help {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 55rem) {
  .home-help {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}