@import "../../styles/variables";

.notification-dropdown {
  &__button {
    &_unread {
      position: relative;

      &::before {
        content: "";
        background-color: $color-red;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}