@import "../../styles/variables";

.card-quick-actions {
  color: initial;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}