@import "../../styles/variables";

.card-property {
  display: flex;
  height: 100%;
  border-radius: .375rem;
  overflow: hidden;
  position: relative;

  &__text-wrap {
    color: $color-white;
    position: absolute;
    bottom: 1.375rem;
    left: 1.375rem;
  }
}